@import "bootstrap/scss/bootstrap";
@import '@splidejs/vue-splide/css';

$Orange: #Ef6F31;
$Sky: #6AC5F1;
$LightGray: #F5F5F5;
$Black: #333333;
$White:#ffffff;
$BluRoyale: #1972F5;


*{
    font-family: 'Montserrat', sans-serif;
    .artist {
            font-family:"RossellaDemo";
            font-size: 50px;
            color: #6ac5f1;
        }
}

.splide__pagination__page.is-active {
    background: #000;
    transform: scale(1.5);
    z-index: 1;
}

.splide__pagination__page {
    background: #8a8989;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 1rem;
    opacity: 0.7;
    padding: 1px;
    position: relative;
    transition: transform 0.2s linear;
    width: 8px;

    &:hover{
        transform: scale(1.5);
    }
}

@font-face {
    font-family: "RossellaDemo";
    src: local("RossellaDemo"),
        url(./assets/font/Rossela-Demo.ttf) format("truetype");
}



