@import "bootstrap/scss/bootstrap";
@import '@splidejs/vue-splide/css';

$Orange: #Ef6F31;
$Sky: #6AC5F1;
$LightGray: #F5F5F5;
$Black: #333333;
$White:#ffffff;
$BluRoyale: #1972F5;


*{
    font-family: 'Montserrat', sans-serif;
    .artist {
            font-family:"RossellaDemo";
            font-size: 50px;
            color: #6ac5f1;
        }
}

@font-face {
    font-family: "RossellaDemo";
    src: local("RossellaDemo"),
        url(./assets/font/Rossela-Demo.ttf) format("truetype");
}



